.DS_Store
Cooking
Writing/Latex/docs
Other/coding_setup.md


## Core latex/pdflatex files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml